[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
Adafruit_GPIO = "*"
gunicorn = "*"
pyjwt = "*"
"RPi.GPIO" = "*"
numpy = "*"


[requires]
python_version = "3"

[scripts]
serve = "gunicorn -b 0.0.0.0:5000 src:app"
adc = "python src/domain/adc/mcp3008.py"
adc_sim = "python src/run_adc_simulator.py"
gpio_toggle = "python src/domain/ports/pcu_ports.py"

