[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
Adafruit_GPIO = "*"
gunicorn = "*"


[requires]
python_version = "3"

[scripts]
serve = "gunicorn -b 0.0.0.0:5000 src:app"
adc = "python src/run_adc_simulation.py"